@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 0 0% 89.8%;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --primary: 0 0% 9.0%;
    --primary-foreground: 0 0% 98%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-black;
    background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    background-position: 0 0;
  }
}


