---
import { Image } from 'astro:assets';

interface Props {
  images: Array<{ src: string; alt: string; wide?: boolean; width?: number; height?: number }>;
}

const { images } = Astro.props;
---

<div class="block-bento">
  {images.map((image) => (
    <div class:list={['block-bento-cell', { 'block-bento-cell--wide': image.wide }]}>
      <Image src={image.src} alt={image.alt} width={image.width ?? 1200} height={image.height ?? 900} />
    </div>
  ))}
</div>
