---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="block-outcomes">
  {items.map((item) => (
    <li class="block-outcomes-item">
      <span class="block-outcomes-dash">—</span>
      <span>{item}</span>
    </li>
  ))}
</ul>
